
.container {
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
  }
body{
font-size: 16px;
font-family: arial;
box-sizing: border-box;
color: #2d2d2d;
}

img{
  max-width: 100%;
}
.h1, h2{
  text-align: center;
  font-weight: bold;
  color: #646464;
  padding: 15px;
}

p {
  line-height: 186%;
  margin-bottom: 25px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #e2574c;
}


.header{
  background: black;
  text-align: center;
}
.header_logo{
  max-width: 60%;
  max-height: 50px;
  padding: 10px;
}

.header_nav-list{
color: white;
text-transform: uppercase;
font-weight: bold;
list-style: none;
}

.header_nav-list-item{
display: inline-block;
padding: 15px;
}

.header_nav-link{
color: white;
text-decoration: none;
}

/*Tablet media queries header*/
@media (min-width: 600px) {
  .header_nav {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (min-width: 600px){
  .header_logo{
    display: flex;
    justify-content: flex-start;
  }

.header {
  justify-content: space-between;
    align-items: center;
    padding: 10px;
}
  .header_nav-list-item {
    margin: 5px;
  }
}

.banner {
  background: linear-gradient(
    /*to top,*/
    rgba(0, 0, 0, .40) 0%,
    rgba(0, 0, 0, .25) 100%
  ),
  url("images/kayak-bkgd.jpg");
  background-size: cover;
  background-position: center;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;

}

.banner__title{
  text-align: center;
  color: white;
  padding: 50px;
}
.banner__span{
  display: block;
}
 .banner__span--enjoy{
   text-transform: uppercase;
   font-size: 16px;
 }
.banner__span--outdooors{
  font-size: 60px;
}
.banner__span--water{
  font-size: 30px;
}
.banner_lead{
  background-color: rgba(0, 0, 0, 0.5);
  max-width: inherit;
  color: white;
  font-size: 16px;
  text-align: center;
  width: 75%;
  margin: auto;
  padding: 3px;
  line-height: 120%;

}
.banner_lead p{
  display: inline;
}
.button {
position: relative;
}
.btn-signup {
  border: 2px solid;
    border-radius: 50px;
    background-color: #E34635;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    border: none;
    margin: 50px auto;
    display: block;
    }
.btn-signup:hover{
  background: #ECD6F0;
  color: purple;
  transition-property: background font;
}

@media (min-width: 600px){
  .banner_lead {
    display: flex;
    align-items: center;
    flex-flow: row;
    }

    .banner_lead p{
      display: inline-block;
  }




.about{
  padding: 20px;
}

.images{
display: flex;
align-items: center;
justify-content: space-around;
flex-flow: row wrap;
}
.images img{
  margin: 2px;
  width: 100%;
}

@media (min-width: 600px){
  .images img{
    width: 30%;
  }

    /*.table {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
    margin: 1px 6px;*/
}
.rental_p{
  display: block;
  padding: 5px;
}


.pricetable, .pricetable td, .pricetable td {
  border: 1px solid #c8c8c8;
  }

.pricetable th{
  font-weight: bold;
  border: 1px solid #c8c8c8;
  background: #e6e6e6;
  padding: 12px;
}
.pricetable td{
  width: 23%;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

.pricetable td:first-child{
  text-align: left;
}

.pricetable tr:hover {
  background-color: #fbf6d9;
}

.pricetable {
    margin: 5px;
    width: 100%;
    padding: 5px;
}


/*@media (min-width: 600px){

  .rentals{
    display: flex;
    justify-content: space-around;
  }
  .rentals h{
    text-align: center;
    padding: 15px;
  }
  .pricetable{
    width: 50%;
  }
  .rental_p p {
    text-align: left;
  }

  }*/


.map{
    width: 100%;
    height: 250px;
  }

.location{
  padding: 10px;
}
.location h2{
  padding: 20px;
}
.location p{
  text-align: center;
  line-height: 150%;
  padding: 10px;
}


.footer p{
  margin: 0 .5em 1.5em .5em;
}

.socialmedia{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    display: block;
  }

.grey {
  margin-bottom: 5px;
  padding: 10px;
  color: #999;
  display: block;
}

/* Tablet*/
    @media (min-width: 600px){
      .images img {
        max-width: 40%;
        padding: 10px;
      }
    }
    @media (min-width: 1100px){
      img {
        max-width: 30%;
        padding: 10px;
      }
    }
