@font-face {
  font-family: 'Karla';
  src: url('fonts/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Karla';
  src: url('fonts/Karla-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Karla';
  src: url('fonts/Karla-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Karla';
  src: url('fonts/Karla-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Pacifico';
  src: url('fonts/Pacifico.ttf') format('truetype');
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
  }

body {
font-size: 16px;
font-family: 'Karla';
font-weight: bold;
font-style: normal;
color: #2d2d2d;
}

img{
  max-width: 100%;
}
.h1, h2{
  font-family: 'Pacifico';
  text-align: center;
  font-weight: bold;
  color: #646464;
  padding: 20px;
  font-size: 40px;
}

p {
  line-height: 160%;
  margin-bottom: 25px;
  text-align: center;
}

a {
  color: white;
}

.header{
  background: black;
  text-align: center;
}
.header_logo{
  max-width: 60%;
  max-height: 50px;
  padding: 10px;
}

.header_nav-list{
color: white;
text-transform: uppercase;
font-weight: bold;
list-style: none;
}

.header_nav-list-item{
display: inline-block;
padding: 15px;
}

.header_nav-link{
color: white;
text-decoration: none;
}


.banner {
  background:
  linear-gradient(
    /*to top,*/
    rgba(0, 0, 0, .40) 0%,
    rgba(0, 0, 0, .25) 100%
  ),
  url("../images/kayak-bkgd.jpg");
  background-size: cover;
  background-position: center;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;

}

.banner__title {
  text-align: center;
  color: white;
  padding: 50px;
  font-family: 'Karla';
}
.banner__span{
  display: block;
}
 .banner__span--enjoy{
   text-transform: uppercase;
   font-size: 16px;
 }
.banner__span--outdooors{
  font-family: 'Pacifico';
  font-size: 60px;
  font-weight: lighter;
  padding: 15px;
  text-shadow: 2px 2px 5px #999;
}
.banner__span--water{
  font-family: 'Pacifico';
  font-weight: lighter;
  padding: 10px;
  font-size: 30px;
  text-shadow: 2px 2px 5px #999;

}
.banner_lead{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  width: 76%;
  margin: auto;
  padding: 1px;
  line-height: 120%;
}


.button {
position: relative;
}
.btn-signup {
  border: 2px solid;
    border-radius: 50px;
    background-color: #E34635;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    font-family: Karla;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    border: none;
    margin: 50px auto;
    display: block;
    }
.btn-signup:hover{
  background: #b64036;
  color: black;
  transition-property: background font;
}


.about{
  padding: 20px;
}

.images{
display: flex;
align-items: center;
justify-content: space-around;
flex-flow: row wrap;
}
.images img{
  margin: 2px;
  width: 100%;
  box-shadow: 1px 0px 5px 1px #666;
}

.rental_p p {
  display: block;
  padding: 5px;
  text-align: left;
}
.phone{
  color:#e2574c;
  font-weight: bold;
}

.pricetable, .pricetable td, .pricetable td {
  border: 1px solid #c8c8c8;
  }

.pricetable th{
  font-weight: bold;
  border: 1px solid #c8c8c8;
  background: #e6e6e6;
  padding: 12px;
}
.pricetable td{
  width: 23%;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

.pricetable td:first-child{
  text-align: left;
}

.pricetable tr:hover {
  background-color: #fbf6d9;
}

.pricetable {
    margin: 5px;
    width: 100%;
    padding: 5px;
}

.map{
    width: 100%;
    height: 250px;
  }

.location{
  padding: 10px;
}
.location h2{
  padding: 20px;
}
.location p{
  text-align: center;
  line-height: 150%;
  padding: 10px;
}


.footer p{
  margin: 0 .5em 1.5em .5em;
}

.socialmedia{
    background-color: #2d2d2d;
    color: white;
    padding: 39px 50px;
    text-align: center;
  }
.mail{
  margin-left: 10px;
}
.mail:hover{
  color:#b64036;
}
.grey {
  margin-bottom: 5px;
  padding: 10px;
  color: #999;
  display: block;
}
.sociallinks{
  display: flex;
  justify-content: center;
}
.socialtext{
  display: none;
}



/* Tablet*/
    @media (min-width: 600px){
      .images img {
        max-width: 30%;
        box-shadow: 1px 0px 5px 1px #666;
      }
        .banner_lead {
          display: flex;
          align-items: center;
          flex-flow: row;
          }

          .header_nav {
            position: absolute;
            right: 0;
            top: 0;
          }
          .header_logo{
            display: flex;
            justify-content: flex-start;
          }

        .header {
          justify-content: space-between;
            align-items: center;
            padding: 10px;
        }
          .header_nav-list-item {
            margin: 5px;
          }
          .banner_lead{
            width: 98%;
            padding: 8px;
          }

          .flexie {
            display: flex;
            justify-content: space-around;
          }
          .pricetable{
            max-width: 45%;
            margin: 7px 15px;
          }
          .rental_p{
            margin: 10px;
          }
          .socialmedia {
            display: flex;
            justify-content: space-between;
          }
          .socialmedia p {
            text-align: left;
          }
          .sociallinks{
            display: flex;
            flex-direction: column;
            text-align: left;
            line-height: 33px;
          }
          .socialtext{
            display: inline;
            text-decoration: none;

          }
          li a{
            text-decoration: none;
          }
    }


    /*Desktop media query */
    @media (min-width: 1140px){
      .banner {
        max-width: none;
      }
      .socialmedia{
        max-width: none;
      }
      .sociallinks{
        padding: 10px;
      }
      .banner_lead{
        width: 88%;
      }
      .header_logo{
        padding: 1px;
        display: flex;
        justify-content: flex-start;
      }
}
