

.container {
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
  }

img{
  max-width: 100%;
}
.h1, h2{
  text-align: center;
  font-weight: bold;
}

p {
  line-height: 100%;
  margin-bottom: 25px;
}

.header{
  background: black;
  text-align: center;
}
.header_logo{
  max-width: 60%;
  max-height: 50px;
  padding: 10px;
}

.header_nav-list{
color: white;
text-transform: uppercase;
font-weight: bold;
list-style: none;

}
.header_nav-list-item{
display: inline-block;
padding: 15px;
}
.header_nav-link{
color: white;
text-decoration: none;
}


@media (min-width: 600px) {
  .header_nav {
    position: absolute;
    right: 0;
    top: 0;
  }
}



.banner {
  background: linear-gradient(
    /*to top,*/
    rgba(0, 0, 0, .40) 0%,
    rgba(0, 0, 0, .25) 100%
  ),
  url("images/kayak-bkgd.jpg");
  background-size: cover;
  background-position: center;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;

}

.banner__title{
  text-align: center;
  color: white;
  padding: 50px;
}
.banner__span{
  display: block;
}
 .banner__span--enjoy{
   text-transform: uppercase;
   font-size: 16px;
 }
.banner__span--outdooors{
  font-size: 60px;
}
.banner__span--water{
  font-size: 30px;
}
.banner_lead{
  background-color: rgba(0, 0, 0, 0.5);
  max-width: inherit;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 75%;
  margin: auto;
  padding: 10px;
  line-height: 120%;
}

.button {
position: relative;
}
.btn-signup {
  border: 2px solid;
    border-radius: 50px;
    background-color: #E34635;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    border: none;
    margin: 50px auto;
    display: block;
    }
.btn-signup:hover{
  background: #ECD6F0;
  color: purple;
  transition-property: background font;

}
.about{
  padding: 20px;
}
.about p{
  text-align: center;
  padding: 20px;
}

.images{
display: flex;
align-items: center;
justify-content: space-around;
flex-flow: row wrap;
}
.images img{
  margin: 2px;
  width: 100%;

}
.rental_p{
  display: block;
  padding: 5px;
}
.pricetable, .pricetable td, .pricetable td{
  border: 1px solid #c8c8c8;
}

.pricetable th{
  font-weight: bold;
  border: 1px solid #c8c8c8;
  background: #e6e6e6;
  padding: 12px;
}
.pricetable td{
  width: 23%;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

.pricetable td:first-child{
  text-align: left;
}

.pricetable {
  width: 100%
  display: flex;
  align-content: center;
}
.pricetable tr:hover {
  background-color: #fbf6d9;
}
.map{
width: 100%;
    }


.location{
  padding: 10px;
}
.location h2{
  padding: 20px;
}
.location p{
  text-align: center;
  line-height: 150%;
  padding: 10px;
}


.socialmedia{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    display: block;
    }
.company{
  padding: 10px;
  margin-bottom: 5px;
}
.mail {
  display: inline;
  padding: 30px;

}
.address{
  margin-bottom: 5px;
  padding: 10px;
}


/* Tablet*/
    @media (min-width: 600px){
      .images img {
        max-width: 40%;
        padding: 10px;
      }
    }
    @media (min-width: 1100px){
      img {
        max-width: 30%;
        padding: 10px;
      }
    }
