.container {
  max-width: 1120px;
  margin: 0 auto;
  background: rgba(0,0,0,0.1)
}
img{
  max-width: 100%;
}
.banner {

}
.btn-signup {
  border: 2px solid;
    border-radius: 25px;
    background-color: #E34635;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 11px;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    border: none;
    margin: 50px auto;
    display: inline;
    }
